* {
  font-family: "微软雅黑";
}
.tou {
  height: 50px;
}
.navbar {
  margin: 0;
  background: #f2f2f2;
}
.main {
  padding: 0;
}
.cen {
  border: 1px solid #3aab96;
  color: #3aab96;
  width: 134px;
  margin: 0 auto;
  margin-top: 80px;
  border-radius: 25px;
  font-size: 14px;
  padding: 12px 30px;
}
.dong {
  margin-top: 70px;
  color: white;
  background: url(../images/552525_02.png) no-repeat;
  background-size: cover;
  padding-bottom: 60px;
  padding-top: 40px;
}
.dong p {
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 10px;
}
.xia {
  margin-top: 40px;
}
.foo {
  padding-bottom: 30px;
  padding-top: 30px;
}
.foo p {
  float: left;
  color: #999999;
  padding-right: 100px;
}
.footer {
  background: #ecf0f3;
  padding-bottom: 30px;
  padding-top: 30px;
}
.panel {
  margin-top: 100px;
  width: 350px;
  height: 340px;
  border: 1px solid #DDDDDD;
}
.panell {
  margin-top: 100px;
  width: 350px;
  height: 180px;
  border: 1px solid #DDDDDD;
}
.panelll {
  margin-top: 200px;
  width: 350px;
  height: 340px;
  border: 1px solid #DDDDDD;
}
.xxx {
  border: 1px solid #DDDDDD;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  border-radius: 10px;
}
